
<%= simple_form_for task do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title,  class: 'form-control'%>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: 'form-control' %>
  </div>
  <br>
  <%= f.input :completed, as: :boolean, checked_value: true, unchecked_value: false  %>
  <%= f.submit class: 'btn btn-primary mt-3' %>
<% end %>
